<nav id="searchbar" class="navbar navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">
    <h2 class="nav-link">Get in Shape</h2>
  </a>

  <div >
    <ul id="icons" class="nav navbar">
      <li>
        <a class="nav-link" (click)="openCart()">
          <i class="fas fa-dumbbell"></i>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/add">
          <i class="fas fa-plus-circle"></i>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/edit">
          <i class="fas fa-edit"></i>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/contact">
          <i class="fas fa-phone-volume"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>
<app-cart-modal #cartModal></app-cart-modal>