<div class="container">
    <div style="text-align:center">
      <h2>Contact us <i class="fas fa-envelope"></i></h2>
      <p>Leave us a message, report a problem or get to know us! <i class="fas fa-smile-beam"></i></p>
    </div>
    <div class="row">
      <div class="column">
        <img src="https://i.ibb.co/F3BsMb1/get-in-shape-mob.png" alt="get-in-shape-mob" border="0" style = "width: 600px">

      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name.." style="height:50px">
          <label for="fname">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email.." style="height:50px">
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" rows="2" placeholder="Write something.." ></textarea>
          <button mdbBtn color="secondary" block="true" class="my-4"> Submit</button>
        </form>
      </div>
    </div>
  </div> 